
@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <p>Hallo<i> @Session["user"]</i>, Sie sind angemeldet als <b>@Session["role"]</b> </p>
            <form action="/User/Logout" method="post"><button type="submit" class="btn-info" name="logout" value="true">Abmelden</button></form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
